{
	"printWidth": 120,
	"useTabs": true,
	"trailingComma": "none",
	"plugins": ["./node_modules/prettier-plugin-apex"],
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html" }
		},
		{
			"files": "**/*.{cls,trigger}",
			"options": { "parser": "apex" }
		}
	]
}
